.footer {
  color: #ffffff;
  background-color: #0a2850;
  font-size: 16px;
  line-height: 20px;
  padding: 60px 80px;
  position: relative;
  overflow: hidden;
}
.footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  position: relative;
  z-index: 1;
}

.footer__logo img {
  width: 105px;
  height: 39px;
}

.footer__circle {
  position: absolute;
  top: -128px;
  left: -44px;
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background-color: #2f80ed;
}

.footer__social {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 3;
}

.footer__social-heading {
  margin: 0;
  padding-bottom: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item:not(:last-child) {
  padding-bottom: 16px;
}

.footer__social-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 108px;
  position: relative;
  z-index: 3;
}
