.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form {
  box-sizing: border-box;
  max-width: 385px;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.form__input {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 15px 20px;
  height: 60px;
}

.form__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 12px;
}
.form__checkbox-input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox-input:checked {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  padding-right: 12px;
}
