.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  /* margin-top: 30px;ja aplicado no header retirar */
  margin-left: -50px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  /* margin-top: 30px;
  margin-right: 80px;
  margin-left: 30px; ja aplicado no header retirar*/
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}
