.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-top: 24px;
  padding-bottom: 80px;
  padding-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  column-gap: 40px;
  width: 480px;
  height: 273px;
  padding-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
