.page {
  min-width: 1100px;
  max-width: 1600px;
  /* centralizar para telas com mais de 1600px de largura */
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.titulo-serif {
  font-family: "Noto Serif", "Times New Roman", serif;
}
