h1,
h2,
p {
  margin: 0;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 30px 80px 40px 80px;
  min-height: 720px;
  max-height: 800px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  /* margin-top: 30px;ja aplicado no header retirar */
  margin-left: -50px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  /* margin-top: 30px;
  margin-right: 80px;
  margin-left: 30px; ja aplicado no header retirar*/
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__title {
  font-size: 58px;
  line-height: 72px;
  max-width: 709px;
  letter-spacing: 1px;
  padding-top: 183px;
  /* padding-left: 80px; ja aplicado no header retirar*/
}

.span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  /* padding-left: 80px;ja aplicado no header retirar */
  max-width: 683px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #838383;
  margin-top: auto;
  /* padding-left: 80px; ja aplicado no header retirar*/
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.recipes__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-top: 24px;
  padding-bottom: 80px;
  padding-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  column-gap: 40px;
  width: 480px;
  height: 273px;
  padding-bottom: 215px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  margin-bottom: 80px;
}

.reservation__form {
  margin: 0 auto;
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form {
  box-sizing: border-box;
  max-width: 385px;
  display: flex;
  flex-direction: column;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.form__input {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #838383;
  padding: 15px 20px;
  height: 60px;
}

.form__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  background-color: #2f80ed;
  color: #fff;
}

.form__checkbox {
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 12px;
}
.form__checkbox-input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox-input:checked {
  background-color: #2f80ed;
  background-image: url(/images/check.svg);
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
  padding-right: 12px;
}
